<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime" version="4.6.4" targetFramework="net48" />
  <package id="Fody" version="6.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="LinqFaster" version="1.0.0" targetFramework="net48" />
  <package id="PoeFilterParser" version="1.0.42" targetFramework="net48" />
  <package id="SharpDX" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net472" />
</packages>